<!doctype html>
<html lang="en">

<head>
        <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
        <title>MACHI KORO'S AUTOS</title>
        <style>
                <% for(let i in cars) { %>
                        <% let sp = '#sp'+i;%>
                <%= sp %> {
                        background: url("data:<%= cars[i].pic2.contentType%>;base64,<%= cars[i].pic2.data.toString('base64')%>") no-repeat left top;
                        background-size: 100% 100%;
                }
                <% } %>
        </style>
</head>

<body id="salon">
        <% include partials/header %> 
        <hr>
        <form action="/autos/search?page=1" method="GET" enctype='multipart/form-data'>
                <input type="text" name="search" id="search" pattern="^[А-Яа-яa-zA-Z0-9\s]+$"  placeholder="Search by Model">
                <input type="hidden" name="page" value="1" />
                <input type="submit" id="button" value="Search"> 
        </form>
        <hr>
        <div class="pagination">
                <% let url = "/autos?page=";%>
                <% if (search != '$') {%>
                       <% url = "/autos/search?search=" + search + "&page="; %>
                <% } %>
                <% if (page > 1) {%>
                        <a href="<%= url%><%= page-1%>">&laquo;</a>
                <% } %>
                <% for(let i = 1; i <= Math.ceil(cars.length/4);i++) { %>
                        <% const Npage = url + i %>
                        <% if (page === i) {%>
                                <a href="<%= Npage%>" class="active"><%= i %></a>
                        <%} else {%>
                                <a href="<%= Npage%>" ><%= i %></a>
                        <% } %>
                <% } %>
                <%if (page < Math.ceil(cars.length/4)) {%>
                        <a href="<%= url %><%= page+1%>">&raquo;</a>
                <% } %>
                <% if(cars.length == 0 && search != '$') { %>
                        <h2>No results were found.</h2>
                <% } %>
                
        </div> 
        <div>
            <% for(let i = (page-1)*4; i < ((cars.length/4 > page) ? 4 : cars.length);i++) { %>
                <% let sp = 'sp'+i;
                   let id = "/auto/" + cars[i]._id;%>
                <a href='<%= id %>'><span id='<%= sp %>' class='scale'><span><%= cars[i].model %></span></span></a>
            <% } %>
        </div>
        <hr>
        <a href="/" id="back"><span id= "backsp"><u>Back</u></span></a>
</body>

</html>