<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MACHI KORO'S AUTOS</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="MY NAME">
  <link type="text/css" href="/stylesheets/styleAdd.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %> 
    <%= message %><br>
    <form action='/register' method='POST'>
        <label>Username:</label>
        <input type='text' name='username'/><br>
        <label>Password:</label>
        <input type='password' name='pass' /><br>
        <label>Repeat password:</label>
        <input type='password' name='pass2' /><br>
        <input type='submit' id="button" value="Sign up">
    </form>
</body>

</html>