<nav>MACHI KORO'S AUTOS 
        <% if (user) { %>
            <span><a href='/logout/<%= user._id%>'>Log out</a></span>
            <% if(user.role === 'admin') {%>
                <span><a href='/admin/<%= user._id%>'><%= user.login %> Profile</a></span>
            <% } else { %>
                <span><a href='/profile/<%= user._id%>'><%= user.login %> Profile</a></span>
             <% } %>
        <% } else { %>
            <span><a href='/register'>Registration</a></span>
            <span><a href='/login'>Log in</a></span>
        <% } %> 
</nav>