nav {
    height: 50px;
    text-align: left;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3D8D59;
    color: white; 
    font:  40px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
}

nav > span {
    float: right;
    margin-right: 5%;
    color:white;
}

nav > span > a:visited {
    color:white;
}
