<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" href="/stylesheets/style_autoX.css" rel="stylesheet"/>
        <!--<link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <style>
                .image{
                    background: url('/image/<%=auto.pic1%>') no-repeat left top;
                    background-size: 100% 100%;
                }
        </style>
        <title><%= auto.model %></title>
    </head>
    <body>
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/add">New auto</a></li>
            <li><a href="/autos">Autos</a></li>
            <li><a href="/docs/api/v1">Docs API</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile/<%= user._id%>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout/<%= user._id%>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </nav>
        <div class="image"></div>
        <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Specification</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Model</td>
                <td><%= auto.model %></td>
            </tr>
            <tr>
                <td>Size class</td>
                <td><%= auto.size_class %></td>
            </tr>
            <tr>
                <td>Doors</td>
                <td><%= auto.doors %></td>
            </tr>
            <tr>
                <td>Engine type</td>
                <td><%= auto.engine_type %></td>
            </tr>
            <tr>
                <td>Engine volume</td>
                <td><%= auto.engine_volume %> cm<sup>3</sup></td>
            </tr>
            <tr>
                <td>Production start date</td>
                <td><%= auto.start_date %></td>
            </tr>
        </table>
        </div>
        <% if(user.role === 'admin')  {%>
        <div class="container">
            <div class="delete">    
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>
            </div>
        </div>
        <% } %>
        <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>This action can not be undone</p>
            </div>
            <div class="modal-footer">
            <form action="/auto/delete/<%= auto.id%>" method="POST" enctype='multipart/form-data' class="form-group">
                <input type="submit" id="button" value="Delete" class="btn btn-danger"> 
            </form>
            </div>
            </div>

    </div>
    </div>
    </body>
</html> 