<!doctype html>
<html lang="en">

<head>
        <!--<link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js'></script>
        <title>MACHI KORO'S AUTOS</title>
        <script src="/javascripts/search.js"></script>
        <script src="https://unpkg.com/vue"></script>
        <script src="/javascripts/spa.js"></script>
        <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
        <link type="text/css" href="./stylesheets/styleAdd.css" rel="stylesheet" />
        <script id="car-container" type="x-tmpl-mustache">
        {{#cars}}
        <div class="car">
                <a href="/auto/{{id}}">
                        <div class="scale" style="background: url(/image/{{pic2}}) no-repeat left top;background-size: 100% 100%;">
                                <span class="mylabel">{{model}}</span>
                        </div>
                </a>
                <a id="buttonRemove" href="#"><span class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal"></span></a>
        </div>
        {{/cars}}
        </script>
        <script id="paginationScript" type="x-tmpl-mustache">
                {{#pages}}
                        <li class="pageButton"><a > {{i}} </a></li>
                {{/pages}}
        </script>
</head>

<body id="salon">

        <div id="app">
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a data-toggle="modal" data-target="#addModal" href="#">New auto</a></li>
            <li class="active" ><a href="/autos">Autos</a></li>
            <li><a href="/docs/api/v1">Docs API</a></li>
            <li>
            <form class="form-inline" id="search" >
                <div class="input-group">
                        <input type="text" v-model="searchString" name="search" id="search" class="form-control" pattern="[A-Za-z0-9\s]+" placeholder="Search by Model">
                </div>
                </form>
             </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile/<%= user._id%>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout/<%= user._id%>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </nav>
        <div class="container">
                <ul class="pagination" id="pagination">
                <% for(let i = 1; i <= Math.ceil(cars.length/4);i++) { %>
                        <% if (page === i) {%>
                                <li class="pageButton"><a class="active" ><%= i %></a></li>
                        <%} else {%>
                                <li class="pageButton"><a ><%= i %></a></li>
                        <% } %>
                <% } %>
                
        </ul> 
        </div>
                <car
                v-for="car in cars"
                v-bind:href="'/auto/'+ car.id"
                v-bind:model="car.model"
                v-bind:remove="remove"
                v-bind:pic2="'background: url(/image/'+car.pic2+') no-repeat left top;background-size: 100% 100%;'"
                v-bind:id="car.id">
                </car>
                <div id="addModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Create new car</h4>
                </div>
                <div class="modal-body">
                <form enctype='multipart/form-data' class="form-horizontal" role="form" id="createForm">

                        <div class="form-group">
                        <label class="control-label col-sm-2">Model:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="model" id="model" pattern="[A-Za-z0-9\s]+" placeholder="Enter model">
                        </div>
                        </div>
                        
                        <div class="form-group">
                        <label class="control-label col-sm-2">
                        Size class:</label>
                        <div class="col-sm-10">
                        <select name="size_class" class="form-control" id="size">
                                <option value="" disabled selected>Choose a size</option>
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="B+">B+</option>
                                <option value="C">C</option>
                                <option value="C+">C+</option>
                                <option value="D">D</option>
                                <option value="D+">D+</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="J">J</option>
                                <option value="M">M</option>
                                <option value="S">S</option>
                                <option value="S (Pony car)">S (Pony car)</option>
                        </select>
                        </div></div>

                        <div class="form-group">
                        <label class="control-label col-sm-2">Doors:</label>
                        <div class="col-sm-10">
                        <input type="number" class="form-control" name="doors" id="doors" min="2" value="2" max='7' pattern="\d+">
                        </div></div>

                        <div class="form-group">
                        <label class="control-label col-sm-2">Engine type:</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="engine_type" placeholder="Enter type" id="engine" pattern="[A-Za-z0-9\s]+">
                        </div></div>

                        <div class="form-group">
                        <label class="control-label col-sm-2">Engine volume:</label>
                        <div class="col-sm-10">
                        <input type="number" class="form-control" name="engine_volume" id="vol" min="500" value="500" step="100" pattern="\d+">
                        </div></div>

                        <div class="form-group">
                        <label class="control-label col-sm-2">Production start date:</label>
                        <div class="col-sm-10">
                        <input type="date" class="form-control" name="start_date" id="date" value="2007-01-01">
                        </div></div>

                        <div class="form-group">
                        <label class="control-label col-sm-2">Choose a picture:</label>
                        <div class="col-sm-10">
                        <input type="file" class="form-control" id="pic2" name="pic1" accept=".png, .jpg, .jpeg" required/>
                        </div></div>

                        <div class="form-group">
                        <label class="control-label col-sm-2">Choose a picture:</label>
                        <div class="col-sm-10">
                        <input type="file" class="form-control" id="pic2" name="pic2" accept=".png, .jpg, .jpeg" required/>
                        </div></div>

                        <div class="form-group"> 
                        <div class="col-sm-offset-2 col-sm-10">
                                <button v-on:click="addCar()" data-dismiss="modal" id="button" class="btn btn-success">Create </button>
                        </div>
                        </div>     
                </form>
                </div>
        </div>
        </div>
        </div>

        <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <p>This action can not be undone</p>
            </div>
            <div class="modal-footer">
                <button v-on:click="removeCar()" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
            </div>

        </div>
        </div>

        </div>
</body>

</html>