nav {
    height: 50px;
    text-align: left;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3D8D59;
    color: white; 
    font:  40px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
}

input,select {
    border: 1px solid #3D8D59;
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -khtml-border-radius: 5px; 
    background: #ffffff; 
    height: 30px; 
    width: 300px; 
    color:black; 
    font-size: 20px;
    font-family: bold, Helvetica;
    padding-left: 5px;
    margin-bottom: 5px;
 }

 form {
    font-size: 20px;
    font-family: bold, Helvetica;  
    margin-left: 25%;
    margin-top: 10px;
 }



 nav > span {
     float: right;
     margin-right: 5%;
     color:white;
 }

 nav > span > a:visited {
     color:white;
 }
 #button:hover{
    background-color: #3D8D59;
    color:white
}