a > span {
    width :400px;
    height :200px;
    display: inline-block;
    border : 1px solid black;
    margin-top: 50px;
    margin-left:50px;
    margin-right:50px;
    transition:all 0.3s ease;
}

.scale:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#backsp {
    font: bold 40px/60px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    color: white;
    padding-left: 30px;
    width:auto;
    height: auto;
    margin-top: 0px;
    border: 0px;
}

#back:visited{
    font: bold 40px/60px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    color: white;
}

div {
    margin-bottom: 4%;
    margin-left: 14%;
}

span span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    background: rgba(53, 52, 52, 0.7);
    padding: 10px; 
 }

form {
    color: white;
    font-size: 20px;
    font-family: bold, Helvetica;
 }

 .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}
 
input {
    border: 1px solid #3D8D59;
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -khtml-border-radius: 5px; 
    background: #ffffff; 
    height: 30px; 
    width: 300px; 
    color:black; 
    font-size: 20px;
    font-family: bold, Helvetica;
    padding-left: 5px;
    margin-bottom: 5px;
 }

 h1 span {
    color: white; 
    font: bold 35px/20px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    margin-left: 5%;
 }

#salon {
    background: url(/images/salon.jpg) no-repeat left top;
    background-attachment: fixed;
    background-size: cover;
}

#button:hover{
    background-color: #3D8D59;
    color:white
}