a > span {
    width :400px;
    height :200px;
    display: inline-block;
    border : 1px solid black;
    margin-top: 50px;
    margin-left:50px;
    margin-right:50px;
    transition:all 0.3s ease;
}

.scale:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#backsp {
    font: bold 40px/60px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    color: white;
    padding-left: 30px;
    width:auto;
    height: auto;
    margin-top: 0px;
    border: 0px;
}

#back:visited{
    font: bold 40px/60px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    color: white;
}

div {
    margin-bottom: 4%;
    margin-left: 14%;
}

span span { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    background: rgba(53, 52, 52, 0.7);
    padding: 10px; 
 }

 h1 span {
    color: white; 
    font: bold 35px/20px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
 }

#salon {
    background: url(/images/salon.jpg) no-repeat left top;
    background-attachment: fixed;
    background-size: cover;
}