
table {
    border-collapse: collapse;
    border: 2px solid white; 
    width: 72%;
    height: 20% ;
    margin: auto;
}

th {
    font: bold 24px/45px Helvetica, Sans-Serif; 
    padding: 3px;
    border: 1px solid #05CFF3;
    text-align: left;
}

td {
    font: bold 17px/35px Helvetica, Sans-Serif;
    padding: 3px;
    border: 1px solid #05CFF3;
    text-align: left;
}

div {
    width: 72%;
    height: 50vh;
    border: 1px dotted #05CFF3; 
    margin: auto;
    margin-top:10px;
}

#backsp {
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    color: #16AFCA;
    padding-left: 30px;
    width:auto;
    height: auto;
    margin-top: 0px;
    border: 0px;
}

#back:visited{
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    color: #16AFCA;
}

nav {
    height: 50px;
    text-align: left;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3D8D59;
    font: bold 40px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    color: white; 
}

body {
    width: 100%;    
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}