<!doctype html>
<html lang="en">

<head>
        <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
        <title>MACHI KORO'S AUTOS</title>
        <style>
                <% for(let i in cars) { %>
                        <% let sp = '#sp'+i;%>
                <%= sp %> {
                        background: url(<%= cars[i].pic_path2%>) no-repeat left top;
                        background-size: 100% 100%;
                }
                <% } %>
        </style>
</head>

<body id="salon">
        <h1><span>MACHI KORO'S AUTOS</span></h1>
        <hr>
        <div>
            <% for(let i in cars) { %>
                <% let sp = 'sp'+i;
                   let id = "/auto/" + cars[i].id;%>
                <a href='<%= id %>'><span id='<%= sp %>' class='scale'><span><%= cars[i].model %></span></span></a>
            <% } %>
        </div>
        <hr>
        <a href="/" id="back"><span id= "backsp"><u>Back</u></span></a>
</body>

</html>