<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MACHI KORO'S AUTOS</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="Paul Burchak">
  <link type="text/css" href="./stylesheets/styleAdd.css" rel="stylesheet" />
</head>

<body>

    <nav>Add new auto<span><a href = "/">Back</a></span></nav>
    <div>
    <form action="/add/auto" method="POST" enctype='multipart/form-data'>
        Model:<br>
        <input type="text" name="model" id="model" pattern="^[А-Яа-яa-zA-Z0-9\s]+$">(Input only letters, digits and space)<br>
        Size class:<br>
        <select name="size" id="size">
            <option value="" disabled selected>Choose a size</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="B+">B+</option>
            <option value="C">C</option>
            <option value="C+">C+</option>
            <option value="D">D</option>
            <option value="D+">D+</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="J">J</option>
            <option value="M">M</option>
            <option value="S">S</option>
            <option value="S (Pony car)">S (Pony car)</option>
        </select><br>
        Doors:<br>
        <input type="number" name="doors" id="doors" min="2" value="2" max='7'><br>
        Engine type:<br>
        <input type="text" name="engine" id="engine"><br>
        Engine volume:<br>
        <input type="number" name="vol" id="vol" min="500" step='100'><br>
        Production start date:<br>
        <input type="date" name="date" id="date" value="2001-09-11"><br>
        Choose a picture:<br>
        <input type="file" id="pic1" name="pic1" accept=".png, .jpg, .jpeg"/><br><br>
        <input type="file" id="pic2" name="pic2" accept=".png, .jpg, .jpeg"/><br><br>
        <input type="submit" id="button" value="Add">        
    </form>
</div>
</html>