<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MACHI KORO'S AUTOS</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="MY NAME">
  <link type="text/css" href="/stylesheets/styleIndex.css" rel="stylesheet" />
</head>

<body>

  <nav>MACHI KORO'S AUTOS</nav>

  <div id="index_background">
    <ul>
      <li><a href="/autos?page=1"><span><u>Avaliable autos</u></span></a></li>
      <li><a href="/add"><span><u>Add auto</u></span></a></li>
    </ul>
  </div>
  <hr>
  <div id="index">Information center of the store of luxury cars. Site indcludes information ab
    <mark>out</mark> cars our store sales. Here you can find any characteristics of any car. Cars costs <sub>much more</sub> then
    at any another shop (we tell costumers that the cars are in the best configuration, but it is not so). We also may give
    old machine instead
    <mark>new</mark> one. <strong>Good luck!</strong>
  </div>
</body>

</html>