.scale {
    width :87.5%;
    height :40vh;
    display: inline-block;
    border : 1px solid black;
    /* margin-top: 30px;
    margin-left:30px;
    margin-right:30px; */
    margin-left:6%;
    transition:all 0.3s ease;
}

.carCss {
    margin-left: 50px;
    width :40%;
    display: inline-block;
}
.carCss .buttonRemove { float:right }

/*.scale:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

 .pagination {
    margin-bottom: 4%;
    margin-left: 14%;
} */

.mylabel { 
    color: white; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    background: rgba(53, 52, 52, 0.7);
    padding: 10px; 
 }

 /* .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.activeP {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.activeP) {
    background-color: #ddd;
    color: black;
}
  */
input {
    border: 1px solid #3D8D59;
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -khtml-border-radius: 5px; 
    background: #ffffff; 
    height: 30px; 
    width: 300px; 
    color:black; 
    font-size: 20px;
    font-family: bold, Helvetica;
    padding-left: 5px;
    margin-bottom: 5px;
 }

#salon {
    background: url(/images/salon.jpg) no-repeat left top;
    background-attachment: fixed;
    background-size: cover;
}

#search {
    margin-top:4px;
    margin-left:10px;
}

#cars {
    margin-bottom: 20px;
}

.navbar{
    margin-bottom: 0px;
}

.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal {
    margin-left: 15px;
}

.buttonRemove{
    color: white; 
    font: bold 20px/40px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
    background: rgba(53, 52, 52, 0.9);
}