
/* table {
    border-collapse: collapse;
    border: 2px solid white; 
    width: 72%;
    height: 20% ;
    margin: auto;
}

th {
    font: bold 24px/45px Helvetica, Sans-Serif; 
    padding: 3px;
    border: 1px solid #3D8D59;
    text-align: left;
}

td {
    font: bold 17px/35px Helvetica, Sans-Serif;
    padding: 3px;
    border: 1px solid #3D8D59;
    text-align: left;
} */

.image {
    width: 62%;
    height: 300px;
    margin: auto;
}

body {
    width: 100%;    
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

form {
    margin-left:20px;
}

.delete {
    margin-left:20px;
    margin-bottom: 20px;
    width: 50px;
}
/* input {
    border: 1px solid #3D8D59;
    border-radius: 5px; 
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    -khtml-border-radius: 5px; 
    background: #ffffff; 
    height: 40px; 
    width: 200px; 
    color:black; 
    font-size: 20px;
    font-family: bold, Helvetica;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
 } 

 #button:hover{
    background-color: #3D8D59;
    color:white
} */