<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" href="/stylesheets/style_autoX.css" rel="stylesheet"/>
        <style>
                div{
                    background: url(<%= auto.pic_path %>) no-repeat left top;
                    background-size: 100% 100%;
                }
        </style>
        <title><%= auto.model %></title>
    </head>
    <body>
        <nav><%= auto.model %></nav>
        <div></div>
        <table>
            <tr>
                <th>Specification</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>Size class</td>
                <td><%= auto.size_class %></td>
            </tr>
            <tr>
                <td>Doors</td>
                <td><%= auto.doors %></td>
            </tr>
            <tr>
                <td>Engine type</td>
                <td><%= auto.engine_type %></td>
            </tr>
            <tr>
                <td>Engine volume</td>
                <td><%= auto.engine_volume %> cm<sup>3</sup></td>
            </tr>
            <tr>
                <td>Production start date</td>
                <td><%= auto.start_date %></td>
            </tr>
        </table>
        <hr>
        <form action="/auto/delete/<%= auto.id%>" method="POST" enctype='multipart/form-data'>
                <input type="submit" id="button" value="Delete"> 
        </form>
        <a href = "/autos?page=1" id="back"><span id= "backsp"><u>Back</u></span></a>
    </body>
</html> 