<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MACHI KORO'S AUTOS</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="MY NAME">
  <link type="text/css" href="/stylesheets/styleAdd.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
</head>

<body>
    <% include partials/header %>
        № | ID | User | Role <br>
    <% for(let i = 0; i < users.length; i++) { %>
        <%= i %> | <%= users[i]._id %>|<%= users[i].username %> | <%= users[i].role %> <br>
    <% } %>
</body>

</html>