<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MACHI KORO'S AUTOS</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="MY NAME">
  <link type="text/css" href="/stylesheets/styleIndex.css" rel="stylesheet" />
  <link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />
</head>

<body>
  <% include partials/header %> 
  
  <div id="index_background">
    <ul>
    <%if(user) {%>
      <li><a href="/autos?page=1"><span class="page"><u>Avaliable autos</u></span></a></li>
      <li><a href="/add"><span class="page"><u>Add auto</u></span></a></li>
      <%} else {%>
      <li>Sign up or log in</li>
      <%}%>
    </ul>
  </div>
  <hr>
  <div id="index">Information center of the store of luxury cars. Site indcludes information ab
    <mark>out</mark> cars our store sales. Here you can find any characteristics of any car. Cars costs <sub>much more</sub> then
    at any another shop (we tell costumers that the cars are in the best configuration, but it is not so). We also may give
    old machine instead
    <mark>new</mark> one. <strong>Good luck!</strong>
  </div>
</body>

</html>