<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MACHI KORO'S AUTOS</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="Paul Burchak">
  <link type="text/css" href="./stylesheets/styleAdd.css" rel="stylesheet" />
  <!--<link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active" ><a href="/add">New auto</a></li>
            <li><a href="/autos">Autos</a></li>
            <li><a href="/docs/api/v1">Docs API</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile/<%= user._id%>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout/<%= user._id%>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </nav>
    <div>
    <form action="/add/auto" method="POST" enctype='multipart/form-data' class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-sm-2">Model:</label>
            <div class="col-sm-6">
            <input type="text" class="form-control" name="model" id="model" pattern="[A-Za-z0-9\s]+" placeholder="Enter model" required>
            <sub>Only latin letters, digits and spaces are allowed</sub>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-sm-2">
            Size class:</label>
            <div class="col-sm-6">
            <select name="size" class="form-control" id="size">
                <option value="" disabled selected>Choose a size</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="B+">B+</option>
                <option value="C">C</option>
                <option value="C+">C+</option>
                <option value="D">D</option>
                <option value="D+">D+</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="J">J</option>
                <option value="M">M</option>
                <option value="S">S</option>
                <option value="S (Pony car)">S (Pony car)</option>
            </select>
        </div></div>

        <div class="form-group">
            <label class="control-label col-sm-2">Doors:</label>
            <div class="col-sm-6">
            <input type="number" class="form-control" name="doors" id="doors" min="2" value="2" max='7' pattern="\d+">
        </div></div>

        <div class="form-group">
            <label class="control-label col-sm-2">Engine type:</label>
            <div class="col-sm-6">
            <input type="text" class="form-control" name="engine" placeholder="Enter type" id="engine" pattern="[A-Za-z0-9\s]+">
            <sub>Only latin letters, digits and spaces are allowed</sub>
        </div></div>

        <div class="form-group">
            <label class="control-label col-sm-2">Engine volume:</label>
            <div class="col-sm-6">
            <input type="number" class="form-control" name="vol" id="vol" min="500" value="500" step="100" pattern="\d+">
        </div></div>

        <div class="form-group">
            <label class="control-label col-sm-2">Production start date:</label>
            <div class="col-sm-6">
            <input type="date" class="form-control" name="date" id="date" value="2007-01-01">
        </div></div>

        <div class="form-group">
            <label class="control-label col-sm-2">Choose a picture:</label>
            <div class="col-sm-6">
            <input type="file" class="form-control" id="pic2" name="pic1" accept=".png, .jpg, .jpeg" required/>
        </div></div>

        <div class="form-group">
            <label class="control-label col-sm-2">Choose a picture:</label>
            <div class="col-sm-6">
            <input type="file" class="form-control" id="pic2" name="pic2" accept=".png, .jpg, .jpeg" required/>
        </div></div>

        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" id="button" value="Add" class="btn btn-success">   
            </div>
        </div>     
    </form>
</div>
</body>
</html>