<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Documentation API v1</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="Paul Burchak">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <% if(user) {%>
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/add">New auto</a></li>
            <li><a href="/autos">Autos</a></li>
            <li class="active" ><a href="/docs/api/v1">Docs API</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile/<%= user._id%>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout/<%= user._id%>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </nav>
    <%} else {%>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
          </ul>
        </div>
      </nav>
    <% } %>
     <div class='container'>
        <h1>Documentation API v1</h1>
        <hr>
        Auth: Basic auth in postman. All requsts require authentication. All requests return json.<br>
        Error format:<br>
        <code>{
          "message": "Not found",
          "documentation_url": "docs/api/v1"
        }</code><br>
        Message contains description of the error<br><br>
        <code>http://localhost:5000/api/v1</code> - root point<br><br>
        <code>GET /users</code> - list of users<br><br>
        <code>GET /users/{page index}</code> - paginated, start from index 1<br><br>
        <code>GET /user/{username}</code> - user received by username<br><br>
        <code>GET /cars</code> - list of cars<br><br>
        <code>GET /cars/{page index}</code> - paginated, start from index 1<br><br>
        <code>GET /car/{car_id}</code> - car received by id<br><br>
        <code>POST /cars/add</code> , <code>PUT /cars/update/{car_id}</code><br>Params:
        <code><ul><li>model</li><li>size_class - A, B, C+, S etc.</li><li>doors - integer</li><li>engine_volume - integer</li><li>engine_type</li><li>start_date - date in ISO8601</li><li>pic1 - picture(file)</li><li>pic2 - picture(file)</li></ul></code>
        Returns message is request done or not.<br>
        <code>DELETE /cars/delete/{car_id}</code> - removes a car by id<br><br>        
     </div>
</body>
</html>