<!doctype html>
<html lang="en">

<head>
        <!--<link type="text/css" href="/stylesheets/styleNav.css" rel="stylesheet" />-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js'></script>
        <title>MACHI KORO'S AUTOS</title>
        <script src="/javascripts/search.js"></script>
        <link type="text/css" href="/stylesheets/style.css" rel="stylesheet" />
        <script id="car-container" type="x-tmpl-mustache">
        {{#cars}}
		<a href="/auto/{{id}}">
			<div class="scale" style="background: url(/image/{{pic2}}) no-repeat left top;background-size: 100% 100%;">
				<span class="mylabel">{{model}}</span>
			</div>		
		</a>
        {{/cars}}
        </script>
        <script id="paginationScript" type="x-tmpl-mustache">
                {{#pages}}
                        <li class="pageButton"><a > {{i}} </a></li>
                {{/pages}}
        </script>
</head>

<body id="salon">
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/add">New auto</a></li>
            <li class="active" ><a href="/autos">Autos</a></li>
            <li><a href="/docs/api/v1">Docs API</a></li>
            <li>
            <form class="form-inline" id="search" >
                <div class="input-group">
                        <input type="text" name="search" id="search" class="form-control" pattern="[A-Za-z0-9\s]+" placeholder="Search by Model">
                </div>
                </form>
             </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile/<%= user._id%>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout/<%= user._id%>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </nav>
        <div class="container">
                <ul class="pagination" id="pagination">
                <% for(let i = 1; i <= Math.ceil(cars.length/4);i++) { %>
                        <% if (page === i) {%>
                                <li class="pageButton"><a class="active" ><%= i %></a></li>
                        <%} else {%>
                                <li class="pageButton"><a ><%= i %></a></li>
                        <% } %>
                <% } %>
                
        </ul> 
        </div>
        <div id="cars">
        </div>
</body>

</html>