<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MACHI KORO'S AUTOS</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="MY NAME">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <% if(user) {%>
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/add">New auto</a></li>
            <li><a href="/autos?page=1">Autos</a></li>
            <li><a href="/docs/api/v1">Docs API</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile/<%= user._id%>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout/<%= user._id%>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </nav>
    <%} else {%>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
          </ul>
        </div>
      </nav>
    <% } %>  
     <%= message %><br>
    <form action='/login' method='POST' class="form-horizontal">
        <div class="form-group">
        <label class="control-label col-sm-2" for="username">Username:</label>
        <div class="col-sm-6">
        <input type='text' name='username' class="form-control" id="username" placeholder="Enter username" required/>
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-6">
        <input type='password' name='password'class="form-control" id="pwd" placeholder="Enter password" required/>
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-12">
        <input type='submit' id='button' value="Log in" class="btn btn-success">
        </div>
        </div>
    </form>
</body>

</html>