<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MACHI KORO'S AUTOS</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="MY NAME">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/add">New auto</a></li>
            <li><a href="/autos">Autos</a></li>
            <li><a href="/docs/api/v1">Docs API</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile/<%= user._id%>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout/<%= user._id%>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </nav>
    <div class="container">
        <p class="text-primary"> Personal user info</p>
        <table class="table table-bordered">
          <tr>
            <td>ID</td>
            <td><%= user._id%></td>
          </tr>
          <tr>
            <td>Username</td>
            <td><%= user.username%></td>
          </tr>
          <tr>
            <td>Role</td>
            <td><%= user.role%></td>
          </tr>
        </table>
        <% if(list.length > 0) {%>
            <p class="text-primary">List of users</p>
            <table class="table table-striped">
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
              </tr>
            <% for(user of list)  { %>
              <tr>
                <td><%= user._id%></td>
                <td><%= user.username%></td>
                <td><%= user.role%></td>
              </tr>
            <% } %>
            </table>
        <% } %>
    </div>
    
</body>

</html>