<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MACHI KORO'S AUTOS</title>
  <meta name="description" content="MY FIRST SITE DESCRIPTION">
  <meta name="author" content="MY NAME">
  
  <link type="text/css" href="./stylesheets/styleAdd.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <% if(user) {%>
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/add">New auto</a></li>
            <li><a href="/autos?page=1">Autos</a></li>
            <li><a href="/docs/api/v1">Docs API</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile/<%= user._id%>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/logout/<%= user._id%>"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
        </div>
      </nav>
    <%} else {%>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Home</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
          </ul>
        </div>
      </nav>
    <% } %> 
    <%= message %><br>
    <form action='/register' method='POST' class="form-horizontal">
        <div class="form-group">
        <label class="control-label col-sm-2" for="username">Username:</label>
        <div class="col-sm-6">
        <input type='text' name='username' class="form-control" id="username" placeholder="Enter username" pattern="[A-Za-z0-9]+" required/>
        <sub>Only latin letters and digits are allowed</sub>
        </div>
        </div>
        <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Password:</label>
        <div class="col-sm-6">
        <input type='password' name='pass' class="form-control" id="pass" placeholder="Enter password"  required/>
        </div>
        </div>
        <div class="form-group" id="divpass">
        <label class="control-label col-sm-2" for="pwd">Repeat password:</label>
        <div class="col-sm-6">
        <input type='password' name='pass2' class="form-control" id="pass2" placeholder="Repeat password"  required/>
        </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-12">
        <input type='submit' id='button' value="Sign in" class="btn btn-success">
        </div>
        </div>
    </form>
    <!--<script type="text/javascript">
        function passwords() {
          let pass1 = document.getElementById("pass").value;
          let pass2 = document.getElementById("pass2").value;
          if(pass1 !== pass2) {
              let p = document.createElement("p");
              p.innerText("Passwords don't match");
              let parent = getElementById("pass2").parentNode.parentNode;
              parent.insertBefore(p,getElementById("divpass"));
              return false;
          }
        }
    </script>-->
    <script type="text/javascript">
        const element = document.querySelector('form');
        element.addEventListener('submit', event => {

          let pass1 = document.getElementById("pass").value;
          let pass2 = document.getElementById("pass2").value;
          if(pass1 != pass2) {
            event.preventDefault();
            let p = document.createElement("p");
              p.innerText = "Passwords don't match";
            document.body.appendChild(p);
            //p.innerText("Passwords don't match");
            //let parent = getElementById("pass2").parentNode.parentNode;
            //parent.insertBefore(p,getElementById("divpass"));
          }
          // actual logic, e.g. validate the form
          console.log('Form submission cancelled.',pass1,pass2);
        });
    </script>
</body>

</html>